<nav class="navbar">
  <a href="/">
    <p class="navbar__logo">
      <img id="raccoon-logo" src="/images/raccoon.svg" />
      OnlineSzop
    </p>
  </a>
  <button class="navbar__burger" type="button">
    <span class="navbar__burger__bar"></span>
  </button>
</nav>
<div class="sidedrawer">
  <ul class="sidedrawer__list">
    <li>
      <a class="sidedrawer__link" href="/"
        ><i class="fas fa-home sidedrawer__icon"></i>HOMEPAGE</a
      >
    </li>
    <li>
      <a class="sidedrawer__link" href="/cart"
        ><i class="fas fa-shopping-cart sidedrawer__icon"></i>GO TO CART</a
      >
    </li>
    <li>
      <a class="sidedrawer__link" href="/add-product"
        ><i class="fas fa-plus sidedrawer__icon"></i>ADD PRODUCT</a
      >
    </li>
    <li>
      <a class="sidedrawer__link" href="/delete-product"
        ><i class="fas fa-trash-alt sidedrawer__icon"></i>DELETE PRODUCT</a
      >
    </li>
  </ul>
</div>
<div class="backdrop"></div>
